<a href="https://colab.research.google.com/github/hitcaff/GLOBAL-TERRORISM-ANALYSIS/blob/main/Hitesh_Srivastava__Global_Terrorism_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Global Terrorism Database (GTD) is an open-source database including information on terrorist attacks around the world from 1970 through 2017. The GTD includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period and now includes more than 180,000 attacks. The database is maintained by researchers at the National Consortium for the Study of Terrorism and Responses to Terrorism (START), headquartered at the University of Maryland.</b>

We all have heard and read about terrorism. Though it's apalling but it has been there since a very long time. The simplest definition of terrorism goes like:
 "The calculated use of unlawful violence or threat of unlawful violence to inculcate fear; intended to coerce or to intimidate governments or societies in the pursuit of goals that are generally political, religious, or ideological. "
 Reference: https://dema.az.gov/sites/default/files/Publications/AR-Terrorism%20Definitions-BORUNDA.pdf

 Data has always been there but to use data in order to imrpove everything around us, is a field that has found it's way recently. I wish, actually everyone wishes, that there was less data about terrorism but unfortunately that's not true. 
 
 So, when there is data about terrorism we should try to use it against it. 
 I think that this data which I am going to work upon is not enough to permanently conclude terrorism but let's see what we can find.
 " History is place to learn from! "

In [2]:
#Let's import the things we need for now

import numpy as np  
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline
import plotly.express as px
from wordcloud import WordCloud
from scipy import signal
import plotly.graph_objects as go
import warnings
warnings.filterwarnings('ignore')

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
terror_df = pd.read_csv('/content/drive/MyDrive/Copy of Global Terrorism Data.csv' ,encoding='ISO-8859-1')

In [5]:
t_list = list(terror_df)

In [6]:
print(t_list)

['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended', 'resolution', 'country', 'country_txt', 'region', 'region_txt', 'provstate', 'city', 'latitude', 'longitude', 'specificity', 'vicinity', 'location', 'summary', 'crit1', 'crit2', 'crit3', 'doubtterr', 'alternative', 'alternative_txt', 'multiple', 'success', 'suicide', 'attacktype1', 'attacktype1_txt', 'attacktype2', 'attacktype2_txt', 'attacktype3', 'attacktype3_txt', 'targtype1', 'targtype1_txt', 'targsubtype1', 'targsubtype1_txt', 'corp1', 'target1', 'natlty1', 'natlty1_txt', 'targtype2', 'targtype2_txt', 'targsubtype2', 'targsubtype2_txt', 'corp2', 'target2', 'natlty2', 'natlty2_txt', 'targtype3', 'targtype3_txt', 'targsubtype3', 'targsubtype3_txt', 'corp3', 'target3', 'natlty3', 'natlty3_txt', 'gname', 'gsubname', 'gname2', 'gsubname2', 'gname3', 'gsubname3', 'motive', 'guncertain1', 'guncertain2', 'guncertain3', 'individual', 'nperps', 'nperpcap', 'claimed', 'claimmode', 'claimmode_txt', 'claim2', 'claimmode2', 'claimmode2_txt', 'claim3', 'claimmode3', 'claimmode3_txt', 'compclaim', 'weaptype1', 'weaptype1_txt', 'weapsubtype1', 'weapsubtype1_txt', 'weaptype2', 'weaptype2_txt', 'weapsubtype2', 'weapsubtype2_txt', 'weaptype3', 'weaptype3_txt', 'weapsubtype3', 'weapsubtype3_txt', 'weaptype4', 'weaptype4_txt', 'weapsubtype4', 'weapsubtype4_txt', 'weapdetail', 'nkill', 'nkillus', 'nkillter', 'nwound', 'nwoundus', 'nwoundte', 'property', 'propextent', 'propextent_txt', 'propvalue', 'propcomment', 'ishostkid', 'nhostkid', 'nhostkidus', 'nhours', 'ndays', 'divert', 'kidhijcountry', 'ransom', 'ransomamt', 'ransomamtus', 'ransompaid', 'ransompaidus', 'ransomnote', 'hostkidoutcome', 'hostkidoutcome_txt', 'nreleased', 'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG', 'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related']

In [7]:
terror_df.isnull().mean()

eventid       0.000000
iyear         0.000000
imonth        0.000000
iday          0.000000
approxdate    0.949150
                ...
INT_LOG       0.000000
INT_IDEO      0.000000
INT_MISC      0.000000
INT_ANY       0.000000
related       0.862195
Length: 135, dtype: float64

In [8]:
# Removing columns having null values more than 50%
# Creating dataframe without null values

df_wo_null = terror_df[terror_df.columns[terror_df.isnull().mean() < 0.5]]
df_wo_null.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 58 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   eventid           181691 non-null  int64
 1   iyear             181691 non-null  int64
 2   imonth            181691 non-null  int64
 3   iday              181691 non-null  int64
 4   extended          181691 non-null  int64
 5   country           181691 non-null  int64
 6   country_txt       181691 non-null  object
 7   region            181691 non-null  int64
 8   region_txt        181691 non-null  object
 9   provstate         181270 non-null  object
 10  city              181257 non-null  object
 11  latitude          177135 non-null  float64
 12  longitude         177134 non-null  float64
 13  specificity       181685 non-null  float64
 14  vicinity          181691 non-null  int64
 15  summary           115562 non-null  object
 16  crit1             181691 non-null  int64
 17  crit2             181691 non-null  int64
 18  crit3             181691 non-null  int64
 19  doubtterr         181690 non-null  float64
 20  multiple          181690 non-null  float64
 21  success           181691 non-null  int64
 22  suicide           181691 non-null  int64
 23  attacktype1       181691 non-null  int64
 24  attacktype1_txt   181691 non-null  object
 25  targtype1         181691 non-null  int64
 26  targtype1_txt     181691 non-null  object
 27  targsubtype1      171318 non-null  float64
 28  targsubtype1_txt  171318 non-null  object
 29  corp1             139141 non-null  object
 30  target1           181055 non-null  object
 31  natlty1           180132 non-null  float64
 32  natlty1_txt       180132 non-null  object
 33  gname             181691 non-null  object
 34  guncertain1       181311 non-null  float64
 35  individual        181691 non-null  int64
 36  nperps            110576 non-null  float64
 37  nperpcap          112202 non-null  float64
 38  claimed           115571 non-null  float64
 39  weaptype1         181691 non-null  int64
 40  weaptype1_txt     181691 non-null  object
 41  weapsubtype1      160923 non-null  float64
 42  weapsubtype1_txt  160923 non-null  object
 43  weapdetail        114021 non-null  object
 44  nkill             171378 non-null  float64
 45  nkillus           117245 non-null  float64
 46  nkillter          114733 non-null  float64
 47  nwound            165380 non-null  float64
 48  nwoundus          116989 non-null  float64
 49  nwoundte          112548 non-null  float64
 50  property          181691 non-null  int64
 51  ishostkid         181513 non-null  float64
 52  scite1            115500 non-null  object
 53  dbsource          181691 non-null  object
 54  INT_LOG           181691 non-null  int64
 55  INT_IDEO          181691 non-null  int64
 56  INT_MISC          181691 non-null  int64
 57  INT_ANY           181691 non-null  int64
dtypes: float64(19), int64(22), object(17)
memory usage: 80.4+ MB

In [9]:
df_wo_null.head()

,eventid,iyear,imonth,iday,extended,country,country_txt,region,region_txt,provstate,...,nwoundus,nwoundte,property,ishostkid,scite1,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY
0,197000000001,1970,7,2,0,58,Dominican Republic,2,Central America & Caribbean,NaN,...,NaN,NaN,0,0.0,NaN,PGIS,0,0,0,0
1,197000000002,1970,0,0,0,130,Mexico,1,North America,Federal,...,NaN,NaN,0,1.0,NaN,PGIS,0,1,1,1
2,197001000001,1970,1,0,0,160,Philippines,5,Southeast Asia,Tarlac,...,NaN,NaN,0,0.0,NaN,PGIS,-9,-9,1,1
3,197001000002,1970,1,0,0,78,Greece,8,Western Europe,Attica,...,NaN,NaN,1,0.0,NaN,PGIS,-9,-9,1,1
4,197001000003,1970,1,0,0,101,Japan,4,East Asia,Fukouka,...,NaN,NaN,1,0.0,NaN,PGIS,-9,-9,1,1

Warning: Total number of columns (58) exceeds max_columns (20) limiting to first (20) columns.